header {
  position: relative;
  background-color: black;
  height: 50vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

/* ============================================ */

.jumbotron {
    text-align: center;
    height: 60%;
}

/* .jumbotron {
    position: relative; 
    top: 20px; 
    text-align: center;
    color: white;
    text-shadow:2px 1px grey;
    vertical-align: bottom;
    background-image: url("../images/G20-Summit-Communique-Flags.jpg");
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 200;
} */
.table-striped {
    text-align: left;
    border: 1px solid blue;
    height: 50px;
    display: inline-table;
    float:left;
}
/* .navbar-brand {
    background-color: lightgreen
} */
/* ====================================================================== */
/* CB: Thurs (8/22) Modified Body, #mapid, legend, legend i, h1 */
body {
    /* background-image: url(../images/nasa-WKT3TE5AQu0-unsplash-original-size.jpg); */
    /* opacity: 50%; */
    /* background-color: lightcyan; */
    padding: 0;
    margin: 0;
}

#mapid {
    position: relative;
    border: 1px solid black;
    border-radius: 8px;
    height: 400px;  /* or as desired */
    width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
  }

.legend {
  padding: 10px;
  line-height: 18px;
  /* font: 12px Arial, Helvetica, sans-serif;
  /* font-weight: bold; */
  color: #555;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.6;
}

h1 {
  text-align: center;
}
/* ====================================================================== */

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#chart{
  width: 500px;
  height: 500px;
}

.pie {
    position: relative;
    padding: 10px 0;
    system: as necessary;
    padding-left: 10px;
    padding-right: 0;
}
.legend {
position: absolute;
right: 10px;
top: 10px;
height: 100%;
system: as necessary;
width: 48% 
}
