.jumbotron {
    position: relative; 
    top: 20px; 
    dtext-align: center;
    color: white;
    text-shadow:2px 1px grey;
    vertical-align: bottom
}
.table-striped {
    text-align: left;
    border: 1px solid blue;
    height: 50px
}
.navbar-brand {
    background-color: lightgreen
}
body {
    background-color: lightcyan;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}