.jumbotron {
    position: relative; 
    top: 20px; 
    dtext-align: center;
    color: white;
    text-shadow:2px 1px grey;
    vertical-align: bottom;
    background-image: url("../Static/images/G20-Summit-Communique-Flags.jpg");
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 200;
}
.table-striped {
    text-align: left;
    border: 1px solid blue;
    height: 50px
}
.navbar-brand {
    background-color: lightgreen
}
body {
    background-color: lightcyan;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#chart{
    width: 500px;
    height: 500px;
    margin-left: 600px;
}