.jumbotron {
    text-align: center;
}

.table-striped {
    text-align: left;
    border: 1px solid blue;
    height: 50px
}

.navbar-brand {
    background-color: lightgreen
}

body {
    background-color: lightcyan;
}