<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IGOs</title>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
      
        /* .dropdown-content a:hover {background-color: white;}
        .dropdown:hover .dropdown-content {display: block;}
        .dropdown:hover .dropbtn {background-color: grey;} */


    </style>
</head>

<!-- <div class="dropdown">
<button class="dropbtn">Name</button>
<div class="dropdown-content"> -->

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>International Organizations of the World</h1>
        <div>
           <div class="dropdown">
            <button class="dropbtn">Pick your Org</button>
           </div class="dropdown-content">
           
            <!-- <button id="pick-your-org">"Pick your Org"</button> -->
    </div>
    <!-- Svg wrapper for globe -->
    <svg width="500" height="550">
        <circle cx="250" cy="250" r="150" fill="blue" />
    </svg>
    
    
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/data.js"></script>
    <script src="static/js/app.js"></script>
</body>

</html>